<fieldset>
	<legend>text input</legend>
	<input type="text"
		placeholder="Enter search string"
		[formControl]="searchField">
	<div #textoutput>...</div>
</fieldset>

<fieldset>
	<legend>async search</legend>
	<input type="text"
		placeholder="Enter github username"
		[formControl]="githubUserControl">
	<ul>
		<li *ngFor="let user of users | slice:0:5">
			{{user.id}} {{user.login}} [{{displayInteger(user.score)}} %]
		</li>
		
		<li *ngIf="users.length > 5">
			... {{users.length - 5}}
		</li>
	</ul>
	
</fieldset>

<fieldset>
	<legend>click events</legend>
	<button #input>I am a button, don't click me!</button> <br />
	<textarea #output style="height: 5em;"></textarea>
</fieldset>

<fieldset>
	<legend>http</legend>
	<button #emitter>get node</button>
	<div>
		<ul>
			<li *ngFor="let node of nodes">
				{{node.id}} {{node.name}}
			</li>
		</ul>
	</div>
</fieldset>


