.selected {
	background-color: #EEE;
}

.treeNode {
	
}

.treeList {
	list-style-type: none;
	padding-left: 1em;
	margin-left: 0;
}

.open {
	background-color: orange;
}

button.none {
	background-color: inherit;
	/* border: 1px dashed blue; */
}

.tree > button {
	border: 0px solid white;
	background-color: inherit;
	width: 1.5em;
}

.tree > button.none:before {
	font-family: FontAwesome;
	content: "\f15b";
}

.tree > button.collapsed:before {
	font-family: FontAwesome;
	content: "\f07b";
}

.tree > button.expanded:before {
	font-family: FontAwesome;
	content: "\f07c";
}

.treeroot {
	padding-left: 0 ! important;
	margin-left: 0 ! important;
	border: 1px solid red;
}

