<li class="tree treeNode" 
	*ngIf="node.type != nodeType.ROOT"
	(click)="onSelect(node, $event)"
	[ngClass]="{'treeroot': isRootNode(node)}"
	>
	<button 
		[class.none]="node.numChildren == 0"
		[class.collapsed]="node.numChildren > 0"
		(click)="onExpand(node, $event)"
	></button> 
	<span>{{node.id}}</span> <span>{{node.name}}</span> {{node.type}} » {{getParent(node).type}} --
	{{node.type}} {{nodeType.ROOT}}
</li>
<ul *ngIf="node.childrenLoaded === true" class="tree treeList"
	[ngClass]="{'treeroot': node.type == nodeType.ROOT}"
	>
	<app-tree-node [node]="child"  *ngFor="let child of node.children"></app-tree-node>
</ul>