.selected {
	background-color: #EEE;
}

ul {
	list-style-type: none;
	padding-left: 20px;
}

li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px
}

li.before {
	position: absolute;
	top: 0;
	left: 0;
	font-family: FontAwesome;
	content: "";
}

button.collapsed:before {
	font-family: FontAwesome;
	content: "\f101";
}

button.expanded:before {
	font-family: FontAwesome;
	content: "\f103";
}

.treeroot {
	list-style-type: none;
	padding-left: 0;
}